<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS Task Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightyellow">
	<center>
		<h1 style="color: red">Are you sure you want to delete this task? - <em><%= @task.name %></em></h1>
		<h1>Complete: <em><%= @task.complete %></em></h1>
		<h1>Due Date: <em><%= @task.due_date %></em></h1>
		<h1>Project: <em><a href="/projects/<%= @task.project.id %>"><%= @task.project.name %></a></em></h1>
		<br/>
		<br/>
		<br/>
		<form action="/tasks/<%= @task.id %>/delete" method="post">
			<input id="hidden" type="hidden" name="_method" value="delete">
			<input type="submit" value="Delete">
		</form>
	</center>
</body>

</html>