<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS Task Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightyellow">
	<a class="button" style="float: left" href="/tasks/<%= @task.id %>/delete">Delete</a>
	<a class="button" style="float: right" href="/tasks/<%= @task.id %>/edit">Edit</a>
	<center>
		<h1>Task: <em><%= @task.name %></em></h1>
		<h1>Complete: <em><%= @task.complete %></em></h1>
		<h1>Due Date: <em><%= @task.due_date %></em></h1>
		<h1>Project: <em><a href="/projects/<%= @task.project.id %>"><%= @task.project.name %></a></em></h1>
	</center>
</body>

</html>