<!DOCTYPE html>
<html lang="en">

<head>
	<title>CMS Task Manager</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background: lightskyblue;">
	<nav>
		<% if logged_in? %>
			<center>
				<h1>Welcome back, <%=current_user.username %>!</h1>
				<h1>My Dashboard</h1>
			</center>
			<div style="display: flex; overflow-x :auto">
				<% @my_projects.each do |p| %>
					<div style="padding: 1rem; margin: .25rem; border: 1px solid black; border-radius: 10px; min-width: 20rem">
						<a class="button" style="float: right" href="/projects/<%= p.id %>/delete">Delete</a>
						<a class="button" style="float: right" href="/projects/<%= p.id %>/edit">Edit</a>
						<p>Project: <a href="/projects/<%=p.id%>"><%= p.name %></a></p>
						<% @my_tasks.each do |t| %>
							<% if t.project_id == p.id %>
							<div style="margin: 0rem 1rem 0rem 2rem">
								<p>Task: <a href="/tasks/<%=t.id%>"><%= t.name %></a></p>
							</div>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% else %>
			<center>
				<h1><em>Welcome to your personal task manager!</em></h1>
				<br />
				<h1><em>Sign up or log in to get started!</em></h1>
			</center>
		<%end %>
	</nav>
</body>

</html>